<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/products.css">
</head>
<body>
  <div class="title">
    <h1>Your Recommendations</h1>
  </div>
  <div class="container">
    <div class="header">
      <p>Shampoo</p>
    </div>
    <div class="grid">
      <p>$</p>
      <p>$ $</p>
      <p>$ $ $</p>
      <a href="https://notyourmothers.com/products/tahitian-gardenia-and-mango-butter-shampoo"><img src="./static/images/ccShampoo.jpg" alt="Image 1"></a>
      <a href="https://www.ulta.com/p/curl-shampoo-pimprod2045132?sku=2623659"> <img src="./static/images/cMShampoo.jpg" alt="Image 2"></a>
      <a href="https://www.ulta.com/p/nanoworks-gold-shampoo-pimprod2017798?sku=256510"> <img src="./static/images/cHShampoo.jpg" alt="Image 3"> </a> 
    </div>
  </div>
  <div class="container">
    <div class="header">
      <p>Conditioner</p>
    </div>
    <div class="grid">
      <p>$</p>
      <p>$ $</p>
      <p>$ $ $</p>
      <a href="https://notyourmothers.com/products/blonde-moment-purple-conditioner"><img src="./static/images/ccCondition.jpg" alt="Image 1"></a>
      <a href="https://www.ulta.com/p/curl-conditioner-pimprod2045133?sku=2623660"><img src="./static/images/cMCondition.jpg" alt="Image 2"></a>
      <a href="https://www.ulta.com/p/nanoworks-gold-conditioner-pimprod2017796?sku=2565109"><img src="./static/images/cHCondition.jpg" alt="Image 3"></a>
    </div>
  </div>
  <div class="container">
    <div class="header">
      <p>Leave-In</p>
    </div>
    <div class="grid">
      <p>$</p>
      <p>$ $</p>
      <p>$ $ $</p>
      <a href="https://notyourmothers.com/products/curl-talk-leave-in-conditioner"><img src="./static/images/ccleave.jpg" alt="Image 1"></a>
      <a href="https://www.briogeohair.com/products/curl-charisma-leave-in"><img src="./static/images/cMleave.jpg" alt="Image 2"></a>
      <a href="https://us.davines.com/products/oi-all-in-one-milk"><img src="./static/images/cHleave.jpg" alt="Image 3"></a>
    </div>
  </div><div class="container">
    <div class="header">
      <p>Styling</p>
    </div>
    <div class="grid">
      <p>$</p>
      <p>$ $</p>
      <p>$ $ $</p>
      <a href="https://www.amazon.com/Aussie-Miracle-Curls-Mousse-Maximum/dp/B07MM68THK"><img src="./static/images/ccstyle.jpg" alt="Image 1"></a>
      <a href="https://www.sephora.com/product/pattern-styling-cream-P474851?skuId=2494433&icid2=curly_hair_styling_sprays_creams_productlist_us"><img src="./static/images/cMstyle.jpg" alt="Image 2"></a>
      <a href="https://www.oribe.com/products/curl-shaping-mousse"><img src="./static/images/cHstyle.jpg" alt="Image 3"></a>
    </div>
  </div>
</body>
</html>
