<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Hair Product Generator</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link href="./static/home.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="container">
        <h1>Hair Product Generator</h1>
        <p>Search for hair products based on your hair type!</p>
        <form id="upload-form" enctype="multipart/form-data">
            <div id="img-preview">
                <input type="file" id="img-upload" name="img-upload" accept="image/*">
                <label for="img-upload" id="img-upload-label">Choose image</label>
            </div>
            <input type="submit" id="submitButton" value="Submit">
        </form>
        <p>Upload an image and AI will do the rest!</p>
        <div id="result"></div>
    </div>
    

    <script src="./static/script.js"></script>
</body>
</html>