<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Landing Page</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  <link href="static/home.css" rel="stylesheet" type="text/css"/>
</head>

<body>
  <div class="container">
    <h1>Hair Product Generator</h1>
    <p>Search for hair products based on your hair type!</p>
    <form method='POST' enctype='multipart/form-data'>
      {{form.hidden_tag()}}
      {{form.file()}}
      {{form.submit()}}
  </form>
    <p>
      Upload an image and AI will do the rest!
    </p>
  </div>
  
  
  <script src="script.js"></script>
</body>

</html>