<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/products.css">
</head>
<body>
  <div class="title">
    <h1>Your Recommendations</h1>
  </div>
  <div class="container">
    <div class="header">
      <p>Shampoo</p>
    </div>
    <div class="grid">
      <p>$</p>
      <p>$ $</p>
      <p>$ $ $</p>
      <a href="https://www.amazon.com/dp/B092PQ32BV?social_share=cm_sw_r_cp_ud_dp_574J4528TFP5TBVQ1MJA&skipTwisterOG=2"><img src="./static/images/ssShampoo.jpg" alt="Image 1"></a>
      <a href="https://www.sephora.com/product/function-of-beauty-pro-custom-recovery-shampoo-for-straight-damaged-hair-P507582?skuId=2706521&icid2=seop_3_title"><img src="./static/images/sMShampoo.jpg" alt="Image 2"></a>
      <a href="https://www.amazon.com/dp/B07PS5DFJP?social_share=cm_sw_r_cp_ud_dp_MN6BA8R6VFFXFS0BVZGR&skipTwisterOG=2"><img src="./static/images/sHShampoo.jpg" alt="Image 3"></a>
    </div>
  </div>
  <div class="container">
    <div class="header">
      <p>Conditioner</p>
    </div>
    <div class="grid">
      <p>$</p>
      <p>$ $</p>
      <p>$ $ $</p>
      <a href="https://www.amazon.com/dp/B0C5Y6J1SW?social_share=cm_sw_r_cp_ud_dp_GDBP5MFS3KEGDXVQTTEB&skipTwisterOG=2"><img src="./static/images/ssCondition.jpg" alt="Image 1"></a>
      <a href="https://www.amazon.com/dp/B0098QQ88U?social_share=cm_sw_r_cp_ud_dp_BFBKXS18AJFN7FGMZ46Z&skipTwisterOG=2"><img src="./static/images/sMCondition.jpg" alt="Image 2"></a>
      <a href="https://unitehair.com/products/lazer-straight-conditioner?variant=37463059366065"><img src="./static/images/sHCondition.jpg" alt="Image 3"></a>
    </div>
  </div>
  <div class="container">
    <div class="header">
      <p>Leave-In</p>
    </div>
    <div class="grid">
      <p>$</p>
      <p>$ $</p>
      <p>$ $ $</p>
      <a href="https://www.amazon.com/dp/B0CS29PK2J?social_share=cm_sw_r_cp_ud_dp_ZNN6MKEDBYEJ6QAY3P2N&skipTwisterOG=2"><img src="./static/images/ssleave.jpg" alt="Image 1"></a>
      <a href="https://www.amazon.com/dp/B00CMIMM7M?social_share=cm_sw_r_cp_ud_dp_TK9T08A9VA8Y3HC8FYX4&skipTwisterOG=2"><img src="./static/images/sMleave.jpg" alt="Image 2"></a>
      <a href="https://www.amazon.com/dp/B08DPLN32V?social_share=cm_sw_r_cp_ud_dp_B1DFJ54P9A81DNG0CSCX&skipTwisterOG=2"><img src="./static/images/sHleave.jpg" alt="Image 3"></a>
    </div>
  </div><div class="container">
    <div class="header">
      <p>Styling</p>
    </div>
    <div class="grid">
      <p>$</p>
      <p>$ $</p>
      <p>$ $ $</p>
      <a href="https://www.google.com/url?q=https://www.paulmitchell.com/paul-mitchell/firm-style/super-clean-sculpting-gel&sa=D&source=docs&ust=1722144484228992&usg=AOvVaw3x_045CLCv3dEhxfm9GgqO"><img src="./static/images/ssstyle.jpg" alt="Image 1"></a>
      <a href="https://www.google.com/url?q=https://marianila.com/products/pure-volume-masque-250-ml&sa=D&source=docs&ust=1722144424860783&usg=AOvVaw1DT3GUZwHgEhBaOnkGUeAp"><img src="./static/images/sMstyle.jpg" alt="Image 2"></a>
      <a href="https://www.google.com/url?q=https://www.sephora.com/product/oribe-styling-butter-curl-enhancing-cream-P469188?skuId%3D2438646%26icid2%3Dseop_7_title&sa=D&source=docs&ust=1722144378371052&usg=AOvVaw2lbZYq9MgfwdK-ckDGqcRJ"><img src="./static/images/sHstyle.jpg" alt="Image 3"></a>
    </div>
  </div>
</body>
</html>